.Header {
    text-align:center;
}
.Nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    background: rgb(73,79,82);
    color: white;
}
.Nav-Links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: right;
    list-style: none;
}
.Log-Links {
    width: 15%;
    display: flex;
    justify-content: space-around;
    align-items: right;
    list-style: none;
}